[Unit]
Description={{app_description}}
After=syslog.target

[Service]
User={{app_user}}
ExecStart=/var/{{service_name}}/{{service_name}}.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
